.movie-list {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 16px;
  list-style: none;
  padding: 15px;
}
.movie-item {
  margin-bottom: 10px;
}
.link-movie {
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.img-movie {
  width: 150px;
  height: 100%;
}
