.container {
  display: flex;
}
.card-img {
  width: 300px;
  height: 100%;
}
.card-title {
}
.card-user {
}
.card-overview-title {
}
.card-overview {
}
.genre-list {
  display: flex;
  list-style: none;
}
.card-genres {
}
.genre-item {
  margin-right: 10px;
}
